{% extends 'base.html.twig' %}
{% block title 'bienvenue dans notre agence' %}
{% block body %}
    {% if categories|length>0 %}
    <h1 class="text-center text-muted mb-4">{{ pluralize(categories|length, 'photo', 'photos' ) }}</h1>
        {% for category in categories %}
            <article>
                <h2><a href="{{ path('app_categories_show',{id:category.id}) }}">{{ category.mark}}</a></h2>
                <h2>{{ category.matricul}}</h2>
                <p>{{ category.price }}</p>
                <p>{{ category.description }}</p>

            </article>
        {% endfor %}
    {% endif %}
{% endblock %}