{% extends 'base.html.twig' %}
{% block title 'bienvenue dans notre agence' %}
{% block body %}
    <p class="mb-5">_</p>
    {% if categories|length>0 %}
    <h1 class="text-center text-muted mb-4">{{ pluralize(categories|length, 'photo', 'photos' ) }}</h1>
        {% for category in categories %}
            <article>
                <h2><a href="{{ path('app_categories_show',{id:category.id}) }}">{{ category.mark}}</a></h2>
                <h2>{{ category.matricul}}</h2>
                <p>{{ category.price|number_format(0,'',' ') }} FCFA</p>
                <p>{{ category.description }}</p>

            </article>
        {% endfor %}

        {% else %}
            <div class="text-center">
                <p class="h1 mt-5 mb-5">Pas de voitures à louer pour l'instant.</p>
                <a href="{{ path('app_categories_create') }}" class="text-muted">Veillez creer une locations</a>
            </div>
    {% endif %}
{% endblock %}