<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Agence de location de voitures{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {{ include('shared/inc/_nav.html.twig') }}
    {{ include('shared/inc/_flash_message.html.twig') }}
    {#    {{ include('shared/inc/_header.html.twig') }} #}
    {% include('shared/inc/_flash.html.twig') %}
    <main class="container" role="main">
        {% block body %}{% endblock %}
    </main>

    {{ include('shared/inc/_footer.html.twig') }}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
